img.img-large {
    width: 400px;
    height: auto;
}

img.img-small {
    width: 75px;
    height: auto;
    cursor: pointer;
    margin: 15px 15px 0 0;
    transition: all ease .3s;
}

img.img-small:hover { 
    transform: scale(1.1);
}

img.selected {
    box-shadow: 0 0 0 3px red;
}