.backdrop {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 1000;
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
    opacity: 1;
}

.backdrop.close {
    opacity: 0;
}

@keyframes appearing {
    0%{
        opacity: 0;
        transform: translateY(-50px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes disappearing {
    0%{
        opacity: 1;
        transform: translateY(0);
    }
    100%{
        opacity: 0;
        transform: translateY(-50px);
    }
}

.backdrop > .dialog {
    animation-name: appearing;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    /* pointer-events: none; */
    width: 50%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 20px;
}

.backdrop > .dialog > h4 { margin: 0; }

.backdrop > .dialog.close {
    animation-name: disappearing;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.okBtn, .cancelBtn {
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
    margin: 0 3px;
    padding: 8px 20px;
}

.okBtn {
    border: 1px solid #78ae66;
    color: #78ae66;
    
}

.okBtn:hover {
    border: 1px solid white;
    color: white;
    background-color: #78ae66;
    box-shadow: 0 0 3px 0px #78ae66;
}

.cancelBtn {
    border: 1px solid #ae2233;
    color: #ae2233;
}

.cancelBtn:hover {
    border: 1px solid white;
    color: white;
    background-color: #ae2233;
    box-shadow: 0 0 3px 0px #ae2233;

}